# Created by http://www.gitignore.io

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
nbactions.xml
nb-configuration.xml

### by arzo ###
build.xml
nbproject/
MANIFEST.MF
application-client.xml
/JProxifier/target/
